/* Write your CSS here */
.bg-container {
  background-color: #1e293b;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  color: #f0bb03;
  font-size: 52px;
  font-family: 'Bree Serif';
  margin: 0px;
  text-align: center;
  padding-bottom: 10px;
}
.paragraph {
  color: #ffffff;
  font-size: 18px;
  font-family: 'Bree Serif';
  text-align: center;
}
.button {
  background-color: #ffffff;
  height: 30px;
  width: 75px;
  color: #1e293b;
  font-family: 'Bree Serif';
  font-size: 10px;
  border-radius: 10px;
  font-weight: bold;
}
